* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252222;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider {
    width: 100%;
    max-width: 600px;
    height: 50vw;
    max-height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.slides {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.slides > div {
    flex: 1 0 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .controls label {
    background-color: transparent; 
    border: 2px solid #fff; 
}

#slide1:checked ~ .slider-container .slider .slides {
    transform: translateX(0%);
}
#slide2:checked ~ .slider-container .slider .slides {
    transform: translateX(-100%);
}
#slide3:checked ~ .slider-container .slider .slides {
    transform: translateX(-200%);
}
#slide4:checked ~ .slider-container .slider .slides {
    transform: translateX(-300%);
}


.caption-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 1rem; 
}

.caption-wrapper {
    flex: 1;
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.caption {
    display: none; 
    transition: opacity 0.5s;
}

#slide1:checked ~ .slider-container .caption-controls-wrapper .caption-wrapper #caption1 {
    display: block;
}
#slide2:checked ~ .slider-container .caption-controls-wrapper .caption-wrapper #caption2 {
    display: block;
}
#slide3:checked ~ .slider-container .caption-controls-wrapper .caption-wrapper #caption3 {
    display: block;
}
#slide4:checked ~ .slider-container .caption-controls-wrapper .caption-wrapper #caption4 {
    display: block;
}

.controls {
    display: flex;
    gap: 1rem;
}

.controls label {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #004da6;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.controls label:hover {
    background-color: #ddd;
}


@media (max-width: 768px) {
    .slider-container {
        flex-direction: column;
        align-items: center;
    }

    .slider {
        width: 100%;
    }

    .caption-controls-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .caption-wrapper {
        margin-bottom: 1rem;
    }

    .controls {
        margin-top: 1rem;
    }
}
