* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252222;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 90%;
    height: 50vw;
    max-height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.slides > div {
    flex: 1 0 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slider .slides {
    transform: translateX(0%);
}
#slide2:checked ~ .slider .slides {
    transform: translateX(-100%);
}
#slide3:checked ~ .slider .slides {
    transform: translateX(-200%);
}
#slide4:checked ~ .slider .slides {
    transform: translateX(-300%);
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2vh;
}

.controls label {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.controls label:hover {
    background-color: #ddd;
}

/* Text captions under controls */
.caption-wrapper {
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.caption {
    display: none; /* Скрываем все captions по умолчанию */
    transition: opacity 0.5s;
}

/* Показ текста в зависимости от активного слайда */
#slide1:checked ~ .caption-wrapper #caption1 {
    display: block;
}
#slide2:checked ~ .caption-wrapper #caption2 {
    display: block;
}
#slide3:checked ~ .caption-wrapper #caption3 {
    display: block;
}
#slide4:checked ~ .caption-wrapper #caption4 {
    display: block;
}
